article{
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 2%;
  border: 3px solid;
  background-color: white;
}

article:hover {
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2); 
}

#toggle:hover {
  text-shadow: 5px 5px #000000;
}

.random-tweeter {
  display: flex;
  flex-direction: row;
}

header > img {
  width: 50px;
  height: 50px;
}

article .tag {
  visibility: hidden;
}

article:hover .tag{
  visibility: visible;
}

.symbols {
  visibility: hidden;
}

article:hover .symbols{
  visibility: visible;
}

.handle {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin: 10px;
}

article > hr {
  border-bottom: 3px solid;
}

footer {
  font-size: 0.75em;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#error {
  padding: 2%;
  border: 2px solid;
  border-color: red;
  color:  white;
  background-color: red;
  width: 50%;
  margin: auto;
}
