form {
  display: flex;
  flex-direction: column;
}

.division {
  width: 100%
}

button {
  font-family: "Bungee";
  font-size: 20px;
  padding: .5em;
  background-color:  #4056A1;
  color: #FFFF;
  margin-top: 15px;
}

.counter {
  font-family: "Bungee";
  font-size: 20px;
  margin-top: 15px;
  float: right;
  color: black;
}

.negativeTweet {
  color: red;
}

#tweet-text {
  border: 0;
  padding: 2%;
  border-bottom: 5px solid;
  background-color: transparent;
  width: 100%;
  resize: none;
}